boto3==1.11.8
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-HTTPAuth==3.3.0
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.4.1
SQLAlchemy-Utils==0.36.1
musicbrainzngs==0.7.1
psycopg2-binary==2.8.4
python-dotenv==0.10.5
requests==2.22.0
simpleflock==0.0.3
Pillow==7.0.0
pytest
uWSGI==2.0.18
factory-boy
pytz
pytest-cov